html{font-size: 15px;letter-spacing: 0.3px;}
html,body{
	min-height: 100%;
}
body{
	font-family: 'PT Sans', sans-serif;
	color: #333333;
	background: #F7F7F7;
}
button, input, optgroup, select, textarea{font-family: 'PT Sans', sans-serif;}
p{ line-height: 1.2;}
h2+p{
	margin-top:15px;
}
p+p{
	margin-top: 30px;
}
main{}
main.white{background: #ffffff}
header>.container{
	padding-left: 0;
	padding-right: 0;
}
@media (min-width: 768px)  {  .container {  width: 768px;  }  }
@media (min-width: 992px)  {  .container {  width: 992px;  }  }
@media (min-width: 1200px) {  .container {  width: 1190px;  }  }
@media (min-width: 1280px) {  .container {  width: 1230px;  }  }
h1,.h1{font-size: 30px}
h2,.h2{font-size: 24px}
h3,.h3{font-size: 17px}
h4,.h4{font-size: 14px}
h5,.h5{font-size: 12px}
h6,.h6{font-size: 10px}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{color: #424242; font-weight: bold; letter-spacing:0;}
a{color: #3f88dc}
.blue{color: #3f88dc!important;}
.grey{color: #a0a0a0;}
/*a:visited{color:#7b57a2}*/
a:hover{color:#ff733f; text-decoration: none;}
a.dashed{border-bottom: 1px dashed #3f88dc}
/*a:visited{color:#7b57a2}*/
a.dashed:hover{border-bottom-color:#ff733f}
a.dashed:focus{text-decoration: none;}
.text-muted{color: #a0a0a0!important;}
.fs-10{font-size: 10px!important;}
.fs-13{font-size: 13px!important;}
.fs-16{font-size: 16px!important;}
.fs-18{font-size: 16px!important;}
.form-control::placeholder   {color:#a0a0a0;}
::-webkit-input-placeholder {color:#a0a0a0;}
::-moz-placeholder          {color:#a0a0a0;}
:-moz-placeholder           {color:#a0a0a0;}
:-ms-input-placeholder      {color:#a0a0a0;}
.form-control{border-color: #e5e6e7;border-radius: 2px;}
.custom-control{
	padding-left: 2rem;
}
.custom-control-indicator{
	background: transparent;
	border: 1px solid #D2CECE;
	width: 1.2rem;
	height: 1.2rem;
	top: 0.15rem;
}
.custom-checkbox .custom-control-indicator{border-radius: 0}
.custom-checkbox .custom-control-input:checked~.custom-control-indicator{
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: center;
}
.custom-radio .custom-control-input:checked~.custom-control-indicator{
	background-size: 9px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.custom-control-input:focus~.custom-control-indicator{box-shadow: none;}
.custom-control-input:checked~.custom-control-indicator{background-color: #3f88dc;border-color: #3f88dc}
header{
	background: #ffffff;
}
header nav.navbar-toggleable-md{
	/*padding-right: 5px;*/
}
.navbar-brand{ margin-right:1.7rem;}

.navbar-toggleable-md .navbar-nav .nav-link {
	padding-right: 11px;
	padding-left: 11px;
}
@media (min-width: 768px) {
	.navbar-toggleable-md .navbar-nav .nav-item + .nav-item{
		position: relative;
	}
	.navbar-toggleable-md .navbar-nav .nav-item + .nav-item:before{
		position: absolute;
		content: "";
		display: block;
		width: 1px;
		height: 12px;
		background: #d2cece;
		left: 0;
		top: 50%;
		margin-top: -6px;
	}
	.navbar-toggleable-md #navbarRight .navbar-nav .nav-item + .nav-item:before{
		margin-top: -3px;
	}
}
.btn{
	border-radius: 2px;
	background: #ffffff;
	border-color: #E5E6E7;
	color: #333333;
	padding: 0.467rem 1.5rem;
	cursor: pointer;
}
.btn .fa{
	margin-right:0.25rem;
}
.top-filter .btn{
	padding: 0.667rem 1rem;
}
.top-filter.simple .btn{
}
.btn:focus{
	box-shadow: none;
}
.btn-primary,
.btn-primary:hover,
a.btn-primary{
	border-color: #ff733f;
	background: #ff733f;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.8px;
}
.btn.blue.active,
.btn-primary.blue.active:hover,
a.btn-primary.blue.active {
	background: #3281dd;
	color: #ffffff;
}
.btn.active{
	background-color: #e4eefa;
}
.top-filter .btn-primary,
.top-filter .btn-primary:hover{
	padding: 0.667rem 1rem;
}
.btn-favorite .active{ display: none;}
.btn-favorite.active .notactive{ display: none;}
.btn-favorite.active .active{ display: block;}
.btn-favorite .fa{font-size: 12px;}
.btn-favorite.active .notactive .fa:hover{
	color: #ff733f;
}
.fa-heart,
.btn-favorite .fa-heart{ color: #ff2b2b;  }
.btn-group-sm>.btn, .btn-sm {
	padding: 0.3334rem .5rem;
}
.btn-group .btn {
	padding: 0.467rem 1rem;
}
ul.btn-group{
	list-style: none;
}
ul.btn-group>li{
	padding:0!important;}
ul.btn-group>li>a{
	border: none!important;
}
.top-filter .dropdown .dropdown-toggle::after{
	color: #3f88dc;
}
.dropdown-menu{
	margin-top: -2px;
	border-color: #E5E6E7;
	border-radius: 2px;
}
.dropdown:hover .btn,
.dropdown.show .btn{
	color: #ff733f;
}
.dropdown.show .dropdown-toggle::after{
	color: #ff733f;
}
.dropdown-item{
	padding-left:13px;
	padding-right: 13px;
	color: #3f88dc;
}
.dropdown-item:hover{
	color: #ff733f;
}
.dropdown-item .fa{
	width:20px;
	margin-right:10px;
	text-align: center;
}
.label{
	font-size: 12px;
	padding:0.4em 0.7em;
	display: inline-block;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 2px;
}
.label-success{
	background-color: #1d9d08;
}
.label-success{
	background-color: #1d9d08;
}
.label-warning{
	background-color: #f0ae64;
}
.label-danger{
	background-color: #de696d;
}
.classes{
	display: inline-block;
	padding: 1px 4.35px 3px;
	font-size: 14.4px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
	border-radius: 10px;
	vertical-align: middle;
	line-height: 1.1;
}
.classes.class-a-plus{  background: #6ec930;  }
.classes.class-a{  background: #1d9d08;  }
.classes.class-b-plus{  background: #f2c537;  }
.classes.class-b{  background: #356bb2;  }
.classes.class-c{  background: #f29040;  }
.classes.class-a-plus:before{content: "A+"; }
.classes.class-a:before{ content: "A"; }
.classes.class-b-plus:before{ content: "B+"; }
.classes.class-b:before{ content: "B";}
.classes.class-c:before{ content: "C";}

.breadcrumb-wrap{
	padding-top: 0;
}
.breadcrumb-wrap nav{
	margin-bottom: 0;
}
.breadcrumb{
	padding-left: 0;
	padding-right: 0;
	background: transparent;
}
.breadcrumb-item+.breadcrumb-item::before{
	content: "\f054";
	font-family: FontAwesome;
	font-size: 9px;
	color: #888888;
}
header nav .nav-item{}
header nav .nav-link{
	font-size: 15px;
	color: #333333;
}
header nav .nav-item .nav-link:hover,
header nav .nav-item.active .nav-link {
	color: #ff733f;
}
.nav-link.sign,
.nav-link.search,
.nav-link.likes{
	white-space: nowrap;
	padding-top: 15px;
}
.nav-link.sign:before,
.nav-link.search:before,
.nav-link.likes:before{
	content: "";
	display: inline-block;
}
.nav-link.search:hover svg #t-search{
	fill: #ff733f;
}
#navbarRight .nav-item:last-child .nav-link{
	padding-right:0;
}
.phone{
	font-size: 17px;
	font-weight: bold;
	color: #424242;
	line-height: 1.2;
	white-space: nowrap;
	padding-right: 15px;
}
.phone a{
	color: #424242;
}
.phone a:hover{
	color: #ff733f;
	text-decoration: none;
}
.phone .phone-note{
	font-size: 10px;
	text-align: right;
	color: #000000;
}
#navbarsHeader{
	padding-left: 10px;
}

.top-filter{
	height:239px;
	background: #888 url("../images/bg1.jpg") 50% 50% / cover no-repeat;
	padding-top: 40px;
}
.top-filter.simple{
	background: transparent;
	height:auto;
	padding-top: 0px;
}
.top-filter h1{
	color: #ffffff;
	text-align: center;
	margin-bottom: 16px;
}
.top-filter .filter-wrap{
	margin-bottom: 40px;
}
.top-filter.simple .filter-wrap{
	margin-bottom:10px;
}
@media (max-width: 992px) {
	.top-filter{
		height: 225px;
		padding: 36px 20px 0;
	}
	.top-filter h1{
		margin-bottom: 13px;
	}
	.top-filter .filter-wrap{
		margin-bottom: 33px;
	}
}
.top-filter  .dropdown>.btn{
	width: 100%;
	text-align: left;
	padding-right: 2rem;
}
.top-filter  .dropdown:hover{
	position: relative;
	z-index: 1;
}
.top-filter .dropdown>.btn:focus{

}
.top-filter .dropdown-toggle::after{
	position: absolute;
	right: 1rem;
	top: 50%;
	margin-top: -0.15rem;
}
.top-filter form>*{
	margin-top: 10px;
}
.top-filter .find{
	width: 170px;
	margin-left: 5px;
}
.dropdown-office{
	width: 234px;
}
.dropdown-area{
	width: 195px;
}
.dropdown-price{
	width: 252px;
}
.dropdown-location{
	width: 245px;
}
.dropdown-more{
	margin-left: 5px;
}
.dropdown-area,
.dropdown-price{
	margin-left: -1px;
}
@media (min-width: 992px) {
	.dropdown-location{
		margin-left: -1px;
	}
}
.to-more-wrap{
	padding: 0 0 5px 10px;
	position: relative;
}
.to-more-wrap .to-more{
	color: #ffffff;
	display: inline-block;
	border-bottom: 1px dashed #ffffff;
	white-space: nowrap;
	font-size: 13px;
}
.to-more-wrap .to-more:hover{
	text-decoration: none;
}
.navbar-toggler:focus {
	outline: none;
}
.navbar-toggler .navbar-toggler-icon{
	opacity: 0;
	transition: opacity 0.3s;
}
.navbar-toggler .navbar-toggler-icon2{
	opacity: 1;
	position: absolute;
	max-height: 20px;
	margin-top: 5px;
	/*top: 0;*/
	/*left: 0;*/
}
.navbar-toggler.collapsed .navbar-toggler-icon{
	opacity: 1;
}
.navbar-toggler.collapsed .navbar-toggler-icon2{
	opacity: 0;
}
.navbar-toggler-icon{
	background: url("../images/svg/menu.svg") 50% 50% / contain no-repeat;
}
.navbar-toggler-icon2{
	background: url("../images/svg/close.svg") 50% 50% / contain no-repeat;
}
.navbar-toggler{
	left: 7px;
	z-index: 3;
	position: fixed;
}
.navbar-toggler.collapsed{
	position: absolute;
}
#navbarHeader.collapse.show{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
@media (min-width: 992px) {
	.to-more-wrap .to-more{
		position: absolute;
		right: 10px;
		top: 33px;
	}
	.top-filter .buttons{
		text-align: center;
	}
	#navbarHeader>div:first-child{
		padding-top: 6px;
	}
}
@media (max-width: 991px) {
	.top-filter{
		padding-top: 15px;
		height: 213px;
	}
	.top-filter h1{
		font-size: 24px;
		text-align: left;
		margin-bottom:5px;
	}
	.top-filter .filter-wrap {
		margin-bottom: 10px;
	}
}
@media (min-width: 768px) {
	.navbar-toggleable-md .navbar-toggler {
		display: none;
	}
	.navbar-toggleable-md .navbar-collapse {
		display: -webkit-box ;
		display: -webkit-flex ;
		display: -ms-flexbox ;
		display: flex ;
		width: 100%;
	}
}
.head-block{}

@media (max-width: 991px) {
	.container {
		width: 100% !important;
	}
	header>.container{
		border-bottom: 45px solid #FCFCFC;
	}
	.head-block{
		position: relative;
	}
	.head-block .navbar-brand{
		margin-left:10px;

	}
	#navbarHeader{
		padding-right: 10px;
	}

	header nav.navbar-toggleable-md{
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	#navbarHeader>div:first-child{
		position: absolute;
		bottom: -50px;
		left: 0;
	}
}
@media(max-width: 767px) {
	.container{
		padding: 10px;
	}
	.row{
		margin-left:-10px;
		margin-right:-10px;
	}
	main>div.container {
		padding-top: 10px;
	}
	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9{
		padding-left:10px;
		padding-right: 10px;}
	body .btn.btn-primary{
		padding: 7px 10px;
	}
	header .buttons{
		text-align: center;
	}
	.top-filter{
		height:auto;
		padding-bottom: 15px;
	}
	.top-filter h1{
		font-size: 17px;
		text-align: center;
		margin-bottom:5px;
	}
	header .to-more-wrap{
		text-align: center;
		width: 100%;
		padding: 10px 10px 10px 10px;
	}
	.top-filter .dropdown{
		width: 100%;
	}
	header .navbar-toggler{
		top: 8px;
	}
	header nav.navbar-toggleable-md{
		padding-top: 0;
	}
	header .head-block{
		padding-top: 5px;
	}
	header > .container {
		border-bottom: 0;
	}
/*}*/
/*@media(max-width: 421px){*/
	.head-block .navbar-brand{
		margin-left: auto;
		margin-right: auto;
	}
	.navbar-brand img{
		height: 30px;
		width: auto;
	}
	#navbarHeader.collapsing,
	#navbarHeader.show{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	#navbarHeader{
		position: absolute;
		z-index: 1;
		width: 100%;
		background: #E5E5E5;
		-webkit-flex-wrap: wrap!important;
		-ms-flex-wrap: wrap!important;
		flex-wrap: wrap!important;
		padding-right: 0;
		top: 0;
	}
	#navbarHeader #navbarRight{
		width:100%;
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		-ms-flex-order: -1;
		order: -1;
	}
	#navbarHeader .navbar-text,
	#navbarHeader .nav-item{
		background: #ffffff;
	}
	#navbarHeader .phone a{
		color: #3f88dc;
		font-size: 17px;
	}
	#navbarRight .phone .phone-note{
		text-align: center;
	}
	#navbarRight .phone{
		display: block;
		text-align: center;
		padding-bottom: 0.7em;
		padding-top: 0.7em;
	}
	#navbarRight .nav-link{
		padding-left: 20px;
	}
	#navbarRight .nav-link .fa{
		width: 25px;
	}
	#navbarRight .nav-link span{
		display: inline-block!important;
	}
	#navbarRight .nav-item:nth-child(1){
		margin-bottom: 10px;
		-webkit-box-ordinal-group: 0;
		-webkit-order: 0;
		-ms-flex-order: 0;
		order: 0-1;
	}
	#navbarRight .nav-item:nth-child(2){
		-webkit-box-ordinal-group: 0;
		-webkit-order: 3;
		-ms-flex-order: 3;
		order: 3;
	}
	#navbarRight .nav-item:nth-child(3){
		-webkit-box-ordinal-group: 0;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
	}
	#navbarRight .nav-item:nth-child(4){
		-webkit-box-ordinal-group: 0;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}
	#navbarHeader .nav-item{
		margin-bottom: 2px;
	}
	#navbarLeft{
		width: 100%;
		margin-top: 10px;
	}
	#navbarLeft .navbar-nav{
		width: 100%;
	}
	#navbarLeft .nav-item{
		display: block;
		width: 100%;
	}
	#navbarLeft .nav-link{
		display: block;
		padding-left: 20px;
		padding-right: 40px;
		position: relative;
	}
	#navbarLeft .nav-link:after{
		content:"\f054";
		font-family: FontAwesome;
		font-size: 12px;
		position: absolute;
		right: 20px;
		top: 11px;
		color: #d2cece;
	}
	#navbarBottom{
		padding-bottom:20px;
	}
	#navbarBottom .full-w-wrap{
		padding: 10px 10px;
		border-bottom: 1px solid #D8D8D8;
	}
	#navbarBottom .btn{
		padding: 8px 15px 7px;
	}
	#navbarBottom .nav-contacts{
		padding: 15px 10px 10px;
		line-height: 1.4;
		color: #434343;
	}
	#navbarBottom .phone{
		line-height: 1.4;
		margin-bottom: 20px;
	}
	#navbarBottom .phone .phone-note{
		text-align: left;
		color: #434343!important;
		font-size: 15px;
		font-weight: normal;
	}
	#navbarBottom .addr{
		margin-bottom:20px;
	}
	#navbarBottom .email{
		margin-bottom: 10px;
	}
}



.asterisk{
	color: #ff0000;
}
.feedback{
	padding-top: 55px;
	/*padding-left: 25px;*/
	padding-bottom: 42px;
}
.feedback h2{
	font-size: 26px;
	text-align: center;
	margin-bottom: 20px;
}
.feedback .feedback-form{
	width: 300px;
	margin-left:auto;
	margin-right:auto;
}
.feedback .form-control{
	padding: .45rem .75rem;
	border-radius: 2px;
}
.feedback .form-group{
	position: relative;
	margin-bottom: 14px;
}
.feedback .form-group label{
	position: absolute;
	right: 100%;
	top: 4px;
	margin-right: 15px;
	white-space: nowrap;
	font-size: 16px;
}
.custom-select{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'8'%20height%3D'4'%3E%3Cpolygon%20points%3D'0,0%208,0%204,4'%20fill%3D'%233f88dc'%20%2F%3E%3C%2Fsvg%3E");
	background-size: 8px 4px;
}
.feedback .form-text{
	font-size: 13px;
	color: #7f7f7f;
}
.feedback .btn{
	width: 100%;
	padding: 0.467rem 1rem;
}

footer .contacts{
	border-top: 1px solid #D8D8D8;
	padding-top: 40px;
	padding-bottom: 20px;
}
footer .contacts>.container>div{
	padding-left: 1rem;
	padding-right: 1rem;
}
footer .contacts .phone{  width: 280px; line-height: 1.6; }
footer .contacts .addr{  width: 415px;  }
footer .contacts .email{  width: 210px;  }
footer .contacts .fb{  width: 285px;  }
@media (min-width: 992px) and (max-width: 1280px) {
	footer .contacts .email-fb{  width: 200px; }
}
footer .contacts .phone .phone-note{
	color: #a0a0a0;
	font-weight:normal;
	font-size: 1rem;
	text-align: left;
}
footer .contacts .addr-line-1{
	margin-bottom: 5px;
}
footer .contacts .addr-line-2{
	color: #a0a0a0;
}

footer .navbar-nav{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
footer .main-menu{
	background: #FCFCFC;
}
footer .main-menu .navbar{
	padding: .834rem 1rem;
}
footer .navbar-nav>.nav-item+.nav-item{
	margin-left: 38px;
}
footer .navbar-nav>.nav-item>.nav-link{
	font-weight: bold;
}
footer .navbar-nav .nav{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	line-height: 1.4;
}
footer .ext-menu{
	padding-top: 10px;
}
footer .ext-menu .navbar-nav>.nav-item{
	width: 25%;
}
@media (max-width: 1200px) {
	footer .ext-menu .navbar-nav>.nav-item{
		width: 33%;
	}
}
@media (max-width: 992px) {
	footer .ext-menu .navbar-nav>.nav-item{
		width: 50%;
	}
}
@media (max-width: 550px) {
	footer .ext-menu .navbar-nav>.nav-item{
		width: 100%;
	}
}
footer .ext-menu .nav-link{
	display: inline-block;
}
footer .nav-link{
	color: #3f88dc;
}
footer .nav-link:hover{
	color: #ff733f;
}
footer .cpy{
	text-align: right;
	padding: 11px 25px 31px;
	color: #a0a0a0;
}
.cpy .copy{
	color: #a0a0a0;
}

@media (max-width: 768px) {
	footer .contacts .phone{
		margin-bottom:20px;
	}
	footer .addr-email{
		max-width: 100%;
	}
	footer .contacts .addr{
		margin-bottom:20px;
	}
	footer .contacts .phone,
	footer .contacts .addr,
	footer .contacts .email-fb,
	footer .contacts .email,
	footer .contacts .fb{
		width: 100%;
		display: block!important;
	}
	footer .main-menu{background: transparent;}
	footer .main-menu>.container,
	footer .main-menu>.container>.navbar{
		padding: 0;
	}
	footer .navbar-nav>.nav-item>.nav-link{
		padding: 12px 20px 11px;
		background: #ffffff;
	}
	footer .navbar-nav>.nav-item+.nav-item{
		margin-top: 2px;
	}
	footer .navbar-nav{
		display: block!important;
	}
	footer .navbar-nav>.nav-item+.nav-item{
		margin-left: 0;
	}
	footer .navbar-nav{

	}
	footer .ext-menu{
		display: none;
	}
	footer .cpy{
		margin-bottom:11px;
		text-align: center;
	}
}





main>.container{
	padding-top: 27px;
}
.block-wrap{
}
.block-wrap>*{
	margin-bottom: 19px;
}
.block + .block{
	margin-top: 19px;
}
.block{
	background: #ffffff;
	box-shadow: inset 0 2px 1px -2px rgba(0,0,0,0.45);
}
.block .block-list{

}
.block .block-list>div {
	padding: 3px 15px 0;
	line-height: 2.4;
}
.block .block-list .fa {
	font-size: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
}
.block .block-head{
	padding: 20px 30px 9px;
	text-align: right;
	min-height: 54px;
}
.block .block-head h5{
	float: left;
	font-size: 17px;
	font-weight: bold;
	line-height: 1;
}
.block .block-head small{
	font-size: 15px;
	font-weight: normal;
}
.block .block-body.map-wrap{
	padding: 0;
	height:205px;
	overflow: hidden;
}
.block .block-body{
	clear: both;
	padding: 10px 30px 12px;
	/*height: 205px;*/
	box-shadow: inset 0 2px 1px -2px rgba(0,0,0,0.45);
}
.block .block-body iframe{
	width: 100%;
	height: 100%;
}
.block .block-ctrls{
	line-height: 1;
}
.block .block-ctrls a{
	font-weight: bold;
	color: #a0a0a0;
	font-size: 13px;
	margin-left: 5px;
}

.block .block-body .img-wrap{
	max-height: 205px;
	overflow: hidden;
}
.block .img-wrap img{
	width: 100%;
}
@media (max-width: 768px) {
	body .block .block-head {
		padding: 20px 20px 9px;
		text-align: left;
		min-height: 54px;
	}
	body .block .block-body {
		padding: 10px 20px 12px;
	}
	.block.b-map{
		border-radius: 3px;
		position: relative;
		background: url("../images/bg4.jpg") 0 0/cover no-repeat;
	}
	div.promo-block .promo-block-left{
		padding-left:20px;
		padding-right:20px;
	}
	div.promo-block{
		background: url("../images/bg5.jpg") 0 0/cover no-repeat;
		margin-left:-10px;
		margin-right:-10px;
		padding-top:15px;
		padding-bottom:15px;
	}
	.block.b-map .block-head{padding: 16px 30px 16px;}
	.block.b-map .block-body{display: none;}
	.block.b-office .block-head{background: url("../images/bg3.jpg") 0 0/cover no-repeat;}
	.block.b-area .block-head{background: url("../images/bg6.jpg") 0 0/cover no-repeat;}
	.block.b-bank .block-head{background: url("../images/bg7.jpg") 0 0/cover no-repeat;}
	.block.b-office-buy .block-head{background: url("../images/bg7.jpg") 0 0/cover no-repeat;}
	.block.b-business .block-head{background: url("../images/bg8.jpg") 0 0/cover no-repeat;}
	.block.b-stor .block-head{background: url("../images/bg9.jpg") 0 0/cover no-repeat;}
	.block.b-shop .block-head{background: url("../images/bg10.jpg") 0 0/cover no-repeat;}
	.block.b-office .block-head,
	.block.b-area .block-head,
	.block.b-bank .block-head,
	.block.b-office-buy .block-head,
	.block.b-business .block-head,
	.block.b-stor .block-head,
	.block.b-shop .block-head{
		border-radius: 3px;
		min-height: 121px;
		padding: 15px 20px 0;
		position: relative;
	}
	.block.b-bank .block-body,
	.block.b-business .block-body,
	.block.b-stor .block-body{
		display: none;
	}
	.block.b-map .block-head h5,
	.block.b-office .block-head h5,
	.block.b-area .block-head h5,
	.block.b-bank .block-head h5,
	.block.b-office-buy .block-head h5,
	.block.b-business .block-head h5,
	.block.b-stor .block-head h5,
	.block.b-shop .block-head h5{
		font-size: 24px;
		color: #ffffff;
		float: none;
		text-align: left;
		margin-bottom: 0;
	}
	.block.b-map .block-head small{display: none;}
	.block.b-office .block-head small,
	.block.b-area .block-head  small,
	.block.b-bank .block-head  small,
	.block.b-office-buy .block-head  small,
	.block.b-business .block-head  small,
	.block.b-stor .block-head  small,
	.block.b-shop .block-head  small{
		display: block;
		font-size: 14px;
		font-weight: bold;
		margin-top:10px;
	}
	.block.b-map .block-head a,
	.block.b-office .block-head a,
	.block.b-area .block-head  a,
	.block.b-bank .block-head  a,
	.block.b-office-buy .block-head  a,
	.block.b-business .block-head  a,
	.block.b-stor .block-head  a,
	.block.b-shop .block-head  a{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.block.b-map .block-head a .fa,
	.block.b-office .block-head a .fa,
	.block.b-area .block-head  a .fa,
	.block.b-bank .block-head  a .fa,
	.block.b-office-buy .block-head  a .fa,
	.block.b-business .block-head  a .fa,
	.block.b-stor .block-head  a .fa,
	.block.b-shop .block-head  a .fa{
		display: none;
	}
}



.promo-block{
	margin-left: 0;
	margin-right: 0;
	background: url("../images/bg2.jpg") 0 0/cover no-repeat;
	min-height: 268px;
	margin-bottom: 19px;
	padding-top: 57px;
	padding-bottom: 55px;
}
.promo-block>div{

}
.promo-block-left{
	padding-left: 28px;
}
.promo-block-left h2{
	margin-bottom:25px;
}
.promo-block-left p{
	line-height: 1.15;
	margin-bottom: 20px;
}
.promo-block-left .btn-primary{
}
.promo-block-right{
	line-height: 2.25;
}
.promo-block-right ul{
	margin-bottom:0;
}

.white-block{
	background: #ffffff;
	padding-top: 32px;
	padding-bottom: 20px;
	margin-bottom: 19px;
}
.white-block form{
	padding-top: 27px;
}
.home-form{
	max-width: 800px;
	margin-left:auto;
	margin-right:auto;
}
.home-form .form-group{
	display: inline-block;
}
.home-form .inp-addr{
	width:328px;
	padding-right: 30px;
}
.home-form .inp-addr input.form-control{
	width: 300px;
	display: inline-block;
}
.home-form .inp-area{
	width: 208px;
	padding-right: 30px;
}
.home-form .inp-area input.form-control{
	width: 148px;
	display: inline-block;
}
.home-form .inp-area label{
	padding-left: 5px;
}
.home-form .inp-rate{
	width: 248px;
}
.home-form .inp-rate input.form-control{
	width: 168px;
	display: inline-block;
}
.home-form .inp-rate label{
	padding-left: 5px;
}
.home-form p+div{
	margin-top: 35px;
}
.home-form .btn-primary{
	min-width: 132px;
}
@media (min-width: 500px) and (max-width: 840px) {
	.home-form {
		max-width: 430px;
		text-align: left;
	}
	.home-form .inp-addr,
	.home-form .inp-addr input.form-control{
		width: 430px;
	}
	.home-form .inp-area{
		width: 202px;
		padding-right: 30px;
	}
	.home-form .inp-area input.form-control{
		width: 142px;
	}
	.home-form .inp-rate{
		width: 220px;
	}
	.home-form .inp-rate input.form-control{
		width: 142px;
		display: inline-block;
	}
}
@media (max-width: 499px) {
	.home-form {
		width: 100%;
		text-align: left;
		padding-left:10px;
		padding-right:10px;
	}
	.home-form .inp-addr,
	.home-form .inp-area,
	.home-form .inp-rate{
		width: 100%;
		padding-right: 0;
	}
	.home-form .inp-addr input.form-control{
		width: 100%;
	}
	.home-form .inp-area input.form-control,
	.home-form .inp-rate input.form-control{
		width: calc(100% - 80px);
	}
}
.items-list{
	margin-bottom:40px;
}
.items-list .item{
	display: block;
	padding: 10px;
	background: #ffffff;
}
.items-list.bordered .item{
	border: 1px solid #e5e6e7;
	border-radius: 2px;
}
.items-list .item:focus{
	text-decoration: none;
}
.items-list .item .img-wrap{
	width: 100%;
	height: 175px;
	overflow: hidden;
	position: relative;
}
.items-list .item .img-wrap img{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height:175px;
}
.items-list .item .img-wrap span{
	position: absolute;
	left: 6px;
	bottom: 6px;
}
.items-list .item .item-title{
	color: #424242;
	font-size: 17px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
}
.items-list .item .item-desc{
	color: #a0a0a0;
	line-height: 1.4;
}
.items-list .item .item-desc a{
	font-weight: bold;
	display: inline-block;
	margin-top:5px;
}

.container-white{
	background: #ffffff;
	/*padding-top: 25px;*/
	padding-bottom:15px;
}
.container-blue{
	background: #e4eefa;
}
.container:not(.container-white) + .container-white{
	margin-top: 30px;
}
.container-white + .container-white{
	margin-top: 15px;
}
.container-white>.container>h2{
	padding-top: 25px;
}
.container-white>.container>.breadcrumb{
	padding-top: 17px;
	margin-bottom: 0;
}
.container-white>.container>h1{
	margin-bottom: 1.2rem;
}
.navbar.navbar-b {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 0;
}
.navbar.navbar-b h4{
	font-size: 17px;
	margin-bottom: 3px;
}
.navbar.navbar-b>.navbar-nav{
	display: block;
	overflow: hidden;
}
.navbar.navbar-b>ul>li {
	float: left;
	display: block;
	width: 33%;
	margin-bottom: 26px;
}
.navbar.navbar-b .nav{
	display: block;
}
.navbar.navbar-b .nav-link{
	padding: .5em 0;
}
@media (min-width: 769px) and (max-width: 992px) {
	.navbar.navbar-b {
		max-width: 90%;
	}
	.navbar.navbar-b>ul>li {
		width: 300px;
	}
}
@media (max-width: 769px){
	.navbar.navbar-b {
		max-width: 100%;
		padding-left:10px;
		padding-right:10px;
	}
	.navbar.navbar-b>ul>li {
		width: 100%;
	}
	.white-block{
		padding-top: 15px;
		margin-left:-10px;
		margin-right:-10px;
	}
	.home-form{
		padding-left:20px;
		padding-right:20px;
	}
	h2,
	.feedback h2{
		font-size: 17px;
	}
	.feedback{
		padding-top:20px;
		padding-bottom: 0;
	}
	.feedback>.container{
		background: #ffffff;
		padding-top:20px;
	}
	footer .contacts{
		padding-top:20px;
	}
}
.search-head{
	margin-bottom:20px;
}
.search-head .h2{
	margin-right: 3rem;
}
.search-head .sort-wrap{}
.sort-wrap .sort-item{
	display: inline-block;
	margin-right: 2rem;
}
.sort-item .sort-direction{
	display: inline-block;
	width: 21px;
	color: #bdbdbd;
	font-size: 12px;
	font-family:FontAwesome;
}
.sort-item .sort-direction.asc:before{
	content: "\f160";
}
.sort-item .sort-direction.desc:before{
	content: "\f161";
}
.offers-list{}
.offers-list > .row{
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20px;
	background: #ffffff;
	padding: 27px 10px 13px;
}
.offers-list .offer-img{

}
.offers-list .carousel{
	width: 240px;
}
.offers-list .carousel .carousel-item{
	max-height: 164px;
}
.offers-list .buttons{
	padding-left:25px;
}
.offer-img,
.build-info{
	margin-bottom: 5px;
}
.appart-info,
.build-info{
	padding-left: 25px!important;
}
.best-deal .appart-info,
.best-deal .build-info{
	padding-left: 10px!important;
}
.best-deal .appart-info .name,
.best-deal .build-info .name{

}
.rating,
.build-info .name .rating{
	color: #9b9b9b;
}
.build-info .name .rating.green,
.rating.green,
.green{
	color: #7ed321;
}
.rating,
.appart-info .name,
.build-info .name{
	font-size: 17px;
	font-weight: bold;
}
.m{
	color: #d0011b;
	font-size: 15px;
}
.params {
	padding-top: 10px;
	padding-bottom: 10px;
}
.appart-info .params,
.build-info .params {
	font-size: 12px;
}
.params .sep:before{
	content: "|";
}
.params .sep{
	color: #9b9b9b;
	padding-left: 9px;
	padding-right: 10px;
}
.appart-info .params .sep,
.build-info .params .sep{
	padding-left: 0;
	padding-right: 0;
}
.params a{
	color: #434343;
}
.params a.active{
	color: #3f88dc;
	font-weight: bold;
}
.params a .text-muted{
	font-size: 12px;
}
.params label{
	padding-right: 10px;
}
.build-info .desc{
	font-weight: bold;
}
.build-info .buttons{
	margin-top:20px;
}
.best-deal{
	padding: 10px;
	border: 1px solid #e5e6e7;
	border-radius: 2px;
}
.best-deal .img-wrap{
	width: 171px;
	display: block;
	max-height: 117px;
	overflow: hidden;
}
.img-wrap.work{
	position: relative;
}
.img-wrap.work:after{
	content: url("../images/svg/repaint-icon.svg");
	position: absolute;
	bottom: 0;
	right: 5px;
}
.img-wrap.no-photo{
	/*width:100%;*/
	height:120px;
	background: #e5e6e7;
	text-align: center;
	padding-top:30px;
}
.img-wrap.no-photo .note{
	background: #ffffff;
	font-size: 12px;
	display: block;
	margin:0 auto 12px;
	width:110px;
	text-align: center;
	color: #333333;
}
.img-list .img-wrap{
	height: 90px;
	overflow: hidden;
}
.img-list .img-wrap.no-photo{
	height: 90px;
	padding-top:15px;
}
.carousel .img-wrap.no-photo{
	width: 100%;
	height: 164px;
	padding-top:57px;
}
.carousel .img-wrap.no-photo .note{
	width:215px;
	font-size: 15px;
	padding: 6px 0;
}
.best-deal .img-wrap img{
	max-width: 100%;
}
.best-deal .build-info{
	padding-left:10px!important;
}
.best-deal .params{
	padding-top:0;
	padding-bottom: 0;
}
.best-deal .desc{
	font-size: 14px;
	font-weight: normal;
}
.best-deal p{
	margin-top:10px;
	font-size: 13px;
}
.best-deal p a{
	font-weight: bold;
}
.question{
	display: inline-block;
	font-size: 11px;
	color: #666666;
	width:16px;
	height:16px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #979797;
	line-height:1.3;
}
.question:before{
	content: "?";
}
.repaint{
	background: transparent url("../images/svg/repaint-icon.svg") 50% 50% / 16px 16px no-repeat;
	display: inline-block;
	width: 22px;
	height:22px;
	vertical-align: sub;
	border: 1px solid #e5e6e7;
	border-radius: 50%;
	margin-right: 5px;
}
.down{
	display: inline-block;
	font-size: 11px;
	color: #666666;
	width: 22px;
	height:22px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #e5e6e7;
	line-height:1.3;
	vertical-align: text-top;
}
.down:before{
	content: "\f063";
	font-family:FontAwesome;
	vertical-align: sub;
}
.dollar{
	display: inline-block;
	font-size: 11px;
	color: #666666;
	width: 22px;
	height:22px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #e5e6e7;
	line-height:1.3;
	vertical-align: text-top;
}
.dollar:before{
	content: "\f155";
	font-family:FontAwesome;
	vertical-align: sub;
}
.circle-buttons{
	padding-top:5px;
}
.circle-buttons>*{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.nav-pagination{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center!important;
	-webkit-justify-content: center!important;
	-ms-flex-pack: center!important;
	justify-content: center!important;
}
.pagination{
	margin-left:auto;
	margin-right:auto;
}
.pagination .page-link{
	padding: 0.4667rem 0.784rem;
	font-weight: bold;
}
.subscribe-form{
	margin-top: 40px;
	margin-bottom:10px;
}
.subscribe-form form{
	width:370px;
	margin-left:auto;
	margin-right:auto;
	-webkit-box-pack: justify!important;
	-webkit-justify-content: space-between!important;
	-ms-flex-pack: justify!important;
	justify-content: space-between!important;
}
.subscribe-form form p{
	font-size: 17px;
	font-weight: bold;
	color: #424242;
	text-align: justify;
}
.subscribe-form input.form-control{
	width:235px;

}
@media(max-width: 768px){
	.search-head>div{
		display: block!important;
	}
	.search-head .btn{
		margin-top: 10px;
	}
	.search-head .btn.ml-2{
		margin-left:0!important;
	}
	.best-deal .img-wrap,
	.offers-list .carousel{
		width: 100%;
	}
	.best-deal .appart-info,
	.best-deal .build-info,
	.appart-info, .build-info {
		padding-left: 0!important;
	}
	.offers-list .buttons{
		padding: 10px 0;
	}
	.img-list>div{
		margin-bottom:10px;
	}
	.img-list>div p:last-child{
		margin-bottom: 0;
	}
	.subscribe-form form{
		width: 100%;
		display: block!important;
		margin-bottom: 30px;
	}
}

.streets-filter{
	margin-top: 20px;
}
.districts-wrap{
	border-bottom: 1px solid #f8f8f8;
}
.districts-wrap .btn-group{
	padding-left: 0;
	margin-bottom: 0;
}
.districts{
	display: inline-block;
	list-style: none;
	font-weight: bold;
	padding-left: 20px;
}
.districts li label{font-size: 17px;}
.districts li{
	display: inline-block;
	font-size: 16px;
	padding: 0 9px;
}

.alphabet-wrap{
	border-bottom: 1px solid #f8f8f8;
	padding-top: 16px;
}
ul.alphabet{
	list-style: none;
	padding-left: 0;
}
ul.alphabet li{
	display: inline-block;
	font-size: 16px;
	width: 25.8px;
}
ul.alphabet li a{
	border-bottom: 1px dashed #3281dd;
}
.alpha-wrap{

}
.alpha-wrap .alpha-line-wrap:nth-child(even){
	background: #fbfbfb;
}
.alpha-wrap .alpha-line{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.alpha-wrap .alpha-symbol{
	width: 30px;
	min-width: 30px;
	font-size: 17px;
	color: #424242;
	font-weight: bold;
	padding-top: 13px;
	border-right: 1px solid #f7f7f7;
}
.alpha-wrap .alpha-list{
	list-style: none;
	padding-left: 23px;
	line-height: 2.2;
	padding-top: 10px;
	padding-bottom: 7px;
	margin-bottom: 0;
}
.alpha-wrap .alpha-list li{
	display: inline-block;
	width:185px;
}
@media (max-width: 768px) {
	.districts-wrap .btn-group{
		margin-left:auto;
		margin-right:auto;
	}
	.districts{
		padding-left: 0;
		margin-bottom:0;
	}
	.districts li:first-child{
		width: 100%;
		margin-top: 10px;
	}
}

@media (min-width: 769px) {

	.h-396 {
		height: 396px;
	}

	.h-285 {
		height: 285px;
	}
	.pills-tabs-wrap.h-396{
		margin-bottom:5px;
	}
}
.pills-tabs-wrap{
	position: relative;
	margin-bottom: 15px;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}
.pills-tabs-wrap .nav-pills{
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 1;
}
@media (max-width: 768px) {
	.pills-tabs-wrap .nav-pills{
		position: relative;
		bottom: auto;
		left:0;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		-webkit-flex-wrap: wrap!important;
		-ms-flex-wrap: wrap!important;
		flex-wrap: wrap!important;
	}
}
.pills-tabs-wrap .nav-pills .nav-link{
	background: #ffffff;
	border: 1px solid #e5e6e7;
	border-radius: 2px;
	color: #333333;
	padding: 5px 15.4px;
}
.pills-tabs-wrap .nav-pills .nav-item{
	margin-right: 10px;
}
.pills-tabs-wrap .carousel img{
	width:100%;
	height:100%;
}
.pills-tabs-wrap .nav.switch{
	position: absolute;
	left: 20px;
	bottom: 20px;
}
.pills-tabs-wrap .nav.switch .nav-link.active{
	display: none;
}
@media (max-width: 768px) {
	.pills-tabs-wrap{
		padding-top:30px;
	}
	.pills-tabs-wrap>button{
		position: relative;
		left: 0pt;
	}
}

.pills-tabs-wrap .onmap-info{
	background: #ffffff;
	border-radius: 3px;
	padding: 32px 30px 10px 35px;
}

@media (min-width: 769px) {
	.pills-tabs-wrap .onmap-info {
		position: absolute;
		top: 15px;
		right: 15px;
		bottom: 15px;
		width: 290px;
	}
	.pills-tabs-wrap.h-396 .onmap-info {
		top: 72px;
		right: 95px;
		bottom: 72px;
		width: 290px;
	}
	.pills-tabs-wrap.h-396 .tab-pane{
		height: 396px;
		overflow: hidden;
	}
}
.pills-tabs-wrap .onmap-info p{
	line-height: 1.2;
	margin-bottom: 22px;
}
.pills-tabs-wrap .onmap-info .buttons{
	padding-top: 15px;
}
.pills-tabs-wrap .onmap-info button{
	border-color: #3281dd;
	color: #3281dd;
}

.filter-class{
	margin-top:10px;
}
.filter-class label{
	margin-right: 10px;
	margin-bottom: 0;
}
.filter-class button {
	font-size: 14px;
	color: #3281dd;
	border-color: #3281dd;
	height: 28px;
	line-height: 25px;
	padding:0 10px;
	margin-right:6px;
}
.filter-class button span{
	font-size: 12px;
	color: #a8a8a8;
}
.filter-class button.active{
	font-size: 16px;
}
.filter-class button.active span{
	color: #ffffff;
}

.canvas-wrap{
	height:270px;
	max-width: 700px;
	position: relative;
	margin-top: 20px;
}

p.a-list{
	line-height: 1.7;
}

.text-nano{
	font-size: 11px;
	color: #a0a0a0;
}
.text-nano + .grey-note{
	margin-left: 10px;
}
.grey-note{
	background: #e5e6e7;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 5px 3px;
	border-radius: 2px;
}
.carousel.triangles{
}
.carousel.triangles .carousel-control-prev,
.carousel.triangles .carousel-control-next{
	width:7%;
	opacity: 1;
}
.carousel.triangles .carousel-control-prev-icon,
.carousel.triangles .carousel-control-next-icon{
	background: none;
	height: 40px;
}
.carousel.triangles .carousel-control-next-icon:before{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 20px 20px;
	border-color: transparent transparent transparent #ffffff;
}
.carousel.triangles .carousel-control-prev-icon:before{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 20px 0;
	border-color: transparent #ffffff transparent transparent;
}

.text-icons-wrap{
	padding-top: 0px;
	padding-bottom: 10px;
}
.text-icons-wrap>div{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.text-icons{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 5px;
	padding-bottom: 10px;
	width:91%;
	-webkit-align-self: center!important;
	-ms-flex-item-align: center!important;
	-ms-grid-row-align: center!important;
	align-self: center!important;
}
.text-icons>*{
	-webkit-align-self: center!important;
	-ms-flex-item-align: center!important;
	-ms-grid-row-align: center!important;
	align-self: center!important;
}
.text-icons .text{
	width:100%;
}
.text-icons-wrap.fs-16 .text-icons{
	/*padding-top: 1px;*/
	/*padding-bottom: 2px;*/
}
.text-icons-wrap.fs-16 .text{
	line-height:1.2;
}
.text-icons .icon-left{
	width: 30px;
	min-width: 30px;
}
.text-icons .icon-right{
	width: 30px;
	min-width: 30px;
	text-align: right;
}
.bt{border-top:1px solid #e5e6e7;}

.links-tabs{

}
.links-tabs,
.links-tabs .nav-link{
	font-size: 16px;
	font-weight: normal;
}
.links-tabs .nav-item{
	padding: 0 10px;
	line-height: 1;
}
.links-tabs .nav-item+.nav-item+.nav-item{
	border-left: 1px solid #9b9b9b;
}
.links-tabs .nav-link{
	padding:0;
}

.links-tabs .nav-link.active{
	color: #434343;
	border-bottom: none;
	background: none;
}
.links-tabs .nav-link,
.grey-bg a[href]{
	font-size: 16px;
	color: #3f88dc;
	border-bottom: 1px dashed #3f88dc;
}
.grey-bg{
	display: inline-block;
	background: #f7f8fb;
	font-size: 15px;
	padding: 6px 10px 7px;
	margin-right: 10px;
	border-radius: 2px;
	margin-bottom:10px;
}
.grey-bg .sep{
	color: #7f7f7f;
	padding-left: 2px;
	padding-right: 2px;
}
.grey-bg a span{
	color: #a0a0a0;
	font-size: 13px;
	display: inline-block;
	background: #f7f8fb;
	text-decoration: none;
	padding-left: 3px;
}

.table-build{
	font-size: 16px;
}
.table-build thead tr:first-child td{
	background: #f7f8fb;
	padding: 0.55rem 0.75rem;
}
.table-build thead tr:first-child td:first-child{
	font-weight: bold;
}
.table-build thead td{
	vertical-align: baseline;
}
.table-build thead td .fa{
	font-size: 11px;
}
.table-build thead tr+tr td{
	padding: 0.47rem 0.75rem 0.46rem;
}
.table-build thead td small{
	font-size: 12px;
}
.table-build thead tr+tr td ,
.table-build thead tr+tr td a{
	font-size: 15px;
	color: #a0a0a0;
}
.table-build thead td a.sort{
	font-size: 16px;
	font-weight: normal;
	color: #000;
}
.table-build tbody td:first-child+td{
	white-space: nowrap;
}
.table-build .table-active td{
	background-color: #FFC7B2;
}
.table-build a.like .fa-heart-o{
	color: #bdbdbd;
}
.table-build .sorted,
.table-build .sorted a{
	color: #000;
}
.table-build .sorted{
	font-weight: bold;
}

.pre-mov+.tab-content #tab1>.row>.col-md-3{

}
.movable-block{
	position: relative;
	padding-top: 8px;
	padding-left: 5px;
	padding-right: 15px;
}
.movable-block .bordered-block{
	border: 1px solid #e5e6e7;
	border-radius: 2px;
	padding: 20px 19px;
	margin-bottom: 5px;
}
.movable-block .bordered-block+.bordered-block{
	margin-top: 13px;
}
.movable-block .bordered-block.design{
	padding-bottom: 10px;
	background: transparent url("") 0 100% / contain no-repeat;
}
.movable-block .bordered-block a.dashed{
	font-size: 14px;

}
.movable-block .bordered-block form{
	padding-top:14px;
}
.movable-block .bordered-block form .form-group {
	margin-bottom: 19px;
}
.movable-block .bordered-block form .form-group:last-child{
	margin-bottom: 0;
}
.movable-block .bordered-block form .form-text {
	font-size: 13px;
	padding-top: 12px;
	padding-bottom: 8px;
}
.movable-block .bordered-block .btn{
	width: 100%;
}
.movable-block .bordered-block.design p{
	font-size: 16px;
}
.movable-block .bordered-block.design .buttons{
	margin-top: 87px;
}
.movable-block p.small{
	color: #606060;
}

@media (min-width: 768px) and (max-width: 1200px) {
	.movable-block .bordered-block .btn{
		white-space: normal;
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 768px) {
	.movable-block .bordered-block{
		max-width: 257px;
		margin-left: auto;
		margin-right: auto;
	}
}

.review-wrap{
	padding-top: 25px;
}
.review-item{
	position: relative;
	padding-left: 53px;
	padding-right: 95px;
	margin-bottom: 20px;
}
.review-item .img-wrap{
	position: absolute;
	/*top: 0;*/
	left: 0;
	width:45px;
	height:45px;
	border: 1px solid #e5e6e7;
	border-radius: 2px;
	overflow: hidden;
}
.review-item .img-wrap .fa{
	font-size: 25px;
	color: #e5e6e7;
	margin-top: 8px;
	margin-left: 13px;
}
.review-item .img-wrap img{
	min-width:45px;
	min-height:45px;
}
.review-item .review-head{
	margin-bottom: 4px;
}
.review-item .review{
	border: 1px solid #E5E6E7;
	border-radius: 2px;
	padding: 10px 20px 8px;
}
.review-item .review-date{
	font-size: 13px;
	text-align: right;
	color: #a0a0a0;
}
.review-item .review-desc{
	font-size: 13px;
	color: #a0a0a0;
}
.review-item .review-author{
	font-size: 17px;
	font-weight: bold;
	color: #424242;
}
.review-item .rating{
	margin-bottom:8px;
}
.review-item .review-text{
	color: #333333;
	line-height:1.55;
	margin-bottom: 8px;
}
.review-wrap .buttons{
	margin-top: 30px;
	margin-bottom: 15px;
	text-align: center;
}
.review-wrap .buttons .btn{
	padding: 0.667rem 3.9rem;
}
.contacts-block{

}
.contacts-block .map-wrap{

}
.contacts-block .map-wrap iframe{
	margin-bottom: -20px;
}
.contacts-block h2{
	padding-top: 27px;
	font-size: 22px;
	padding-bottom: 15px;
}
.contacts-block .phone{
	margin-bottom: 6px;
}
.contacts-block .email{
	margin-bottom: 14px;
	font-weight: bold;
}


.green-blocks-wrap{

}
.green-left{
	font-size: 16px;
	text-align: right;
	color: #292929;
	width: 60px;
	max-width: 60px;
	padding-right: 15px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.green-left:before{
	content: "";
	position: absolute;
	right: 25px;
	top: 0;
	bottom: 0;
	border-left: 1px solid #e3e3e3;
}
.green-left span{
	margin-top: auto;
	background: #ffffff;
	display: inline-block;
	position: relative;
	padding-bottom: 4px;
}
.green-left small{
	display: block;
	font-size: 10px;
	text-align: right;
	color: #a1a1a1;
	margin-bottom:auto;
	background: #ffffff;
	position: relative;
	padding-bottom: 5px;
}
.green-right{
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.green-right .green-block.disabled{
	background: #f7f7f7;
	color: #7f7f7f;
}
.green-right .green-block img{
	max-height: 1rem;
	width: auto;
	vertical-align: baseline;
}
.green-right .green-block small{
	font-size: 13px;
	text-align: center;
	color: #ffffff;
	display: block;
	margin-bottom: auto;
	white-space: nowrap;
}
.green-right .green-block span{
	margin-top: auto;
	white-space: nowrap;
}
.green-right .green-block.disabled span{
	margin-top: auto;
	margin-bottom: auto;
	font-size: 16px;
}
.green-right .green-block{
	height: 48px;
	border: 1px solid #ffffff;
	border-left-width: 2px;
	background: #81c977;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	line-height: 1;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.green-right .green-block.like:after{
	content: "\f004";
	font-family:FontAwesome;
	position: absolute;
	top: 4px;
	left: 5px;
	color: #ffffff;
	font-size: 11px;
}
.green-right .green-block.sciss:before{
	content: "";
	width: 40px;
	height: 33px;
	background: url("../images/svg/scissors_icon.svg") 99% 11% no-repeat, linear-gradient(217deg, #5aa54f 0%, #5aa54f 50%, #81c977 50%, #81c977 100%);
	background: url("../images/svg/scissors_icon.svg") 99% 11% no-repeat, linear-gradient(217deg, #5aa54f 0%, #5aa54f 50%, transparent 50%, transparent 100%);
	position: absolute;
	padding: 1px 5px 1px 7px;
	right: 0;
	top: 0;
}
.green-right .green-block.active{
	background: #ff733f;
}
.green-right .green-block.active.sciss:before{
	background: url("../images/svg/scissors_icon.svg") 99% 11% no-repeat, linear-gradient(217deg, #d45b2e 0%, #d45b2e 50%, #ff733f 50%, #ff733f 100%);
	background: url("../images/svg/scissors_icon.svg") 99% 11% no-repeat, linear-gradient(217deg, #d45b2e 0%, #d45b2e 50%, transparent 50%, transparent 100%);
}
.green-right .green-block.active>*:first-child:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 4px 4px;
	border-color: transparent transparent #ffffff transparent;
}

.green-block-wrap{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.green-block-wrap.disabled{

}
.green-block-wrap.disabled>div>span{
	display: inline-block;
	vertical-align: middle;
}
.green-block-wrap.disabled .green-right span{
	color: #a1a1a1;
}

.items-detail-wrap{
	margin-top: 30px;
}

.detail-left-wrap{
	border: 1px solid #e5e6e7;
}
.detail-title{
	padding: 22px;
	background: #ffffff;
	border-bottom: 1px solid #e5e6e7;
}
.detail-title h3{
	margin-bottom: 0;
}
.detail-content{
	background: #fcfcfc;
	padding: 15px 22px;
	line-height: 1.3;

}
.detail-content b{
	font-size: 14px;
}
.detail-line{
	padding-top: 5px;
	padding-bottom: 5px;
}
.detail-content-sep{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #E5E6E7;
}

.carousel .carousel-item .thumb {
	width: 16.66667%;
	cursor: pointer;
	float: left;
}
.carousel .labels{
	position: absolute;
	top: 4px;
	left: 10px;
}
.detail-carousel img{
	min-height:360px;
}
.carousel .carousel-item .thumb img,.carousel .carousel-item img {
	width: 100%;
}
.thumbcarousel {
	margin-top: 2px;
	margin-bottom: 40px;
}
.thumbcarousel .carousel-item{
	/*margin-left: 7%;*/
	/*width: 86%;*/
	/*width: calc(86% + 10px);*/
	/*padding-right: 10px;*/
}
.thumbcarousel .carousel-item+.carousel-item{

}
.thumbcarousel .thumb+.thumb{
	margin-left: 2px;
}
.thumbcarousel .thumb{
	width: 16.66667%;
	cursor: pointer;
}
.thumbcarousel .thumb, .thumbcarousel .thumb img{
	width: 100%;
}
.thumbcarousel .carousel-control-prev, .thumbcarousel .carousel-control-next{
	width: 3%;
	text-align: left;
	/*background: white;*/
	/*opacity: 1;*/
}
.thumbcarousel .carousel-control-next{
	text-align: right;
}


[data-toggle="collapse"] .collapse-vis{
	display: none;
}
[data-toggle="collapse"][aria-expanded="true"] .collapse-vis{
	display: inline;
}
[data-toggle="collapse"][aria-expanded="true"] .collapse-hid{
	display: none;
}



